/Users/hputnam/MyProjects/Montipora_Spawn_Timing/RAnalysis/Data/uber_isoforms_counts_matrix.counts.matrix

/Users/hputnam/MyProjects/Montipora_Spawn_Timing/RAnalysis/Data/trinotate_annotation_report_wo_seq.csv
/Users/hputnam/MyProjects/Montipora_Spawn_Timing/RAnalysis/Data/trinotate_annotation_report_wo_seq.xls